# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace.atom-presentation':
  #'ctrl-f11': 'atom-presentation:show'
  'ctrl-=': 'atom-presentation:zoom-plus'
  'ctrl-+': 'atom-presentation:zoom-plus'
  'ctrl--': 'atom-presentation:zoom-minus'
  'ctrl-_': 'atom-presentation:zoom-minus'
